@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    
    
}

body.intro{
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.logo{
    margin-left: 100px;
}
.header-inner{
    display: flex;
    
}
.container{
    padding: 30px 0;
    
   
}

.RU{
    background-color: green;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    color: whitesmoke;
}
.money{
    margin-left: 50px;
    margin-right: 30px;
}
.lang{
    margin-left: 50px;
    margin-right: 30px;
}
.social{
    margin-left: 50px;
    margin-right: 50px;
}
.tel{
    margin-left: 50px;
    margin-right: 30px;
}
.maistra{
    margin-left: 50px;
    margin-right: 120px;
    background-color: gainsboro;
    display: flex;
    height: 30px;
    border-radius: 4px;
    
    
}
.search{
    display: flex;
    margin-left: 20px;
    height: 30px;
    border-radius: 4px;
    background-color: gainsboro;
   
}
.intro {
    display: flex;
    background: url("../images/maxresdefault\ \(1\)\ 2.png") center center no-repeat;
    background-size: cover;
    height: 550px;
    padding: 30px;
    position: relative;
    overflow-x: hidden;
    
}
.list{
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 7px;
}
.lupa{
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 7px;
}

li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
ul{
    display: flex;
    justify-content: space-around;
}
.intro_text{
    color: ghostwhite;
    width: 700px;
    font-size: 20px;
}
.about-top{
    background-color: gainsboro;
    

}
/*/ABOUT/*/
.about{
    width: 100%;
    background-color: whitesmoke;
}
.about__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px 0;
}
.about-top{
    width: 1400px;
}
.about-title{
    font-size: 22pt;
    font-weight: 600;
    color: black
}
.about-text{
    font-size: 14pt;
    font-weight: 600;
    margin: 20px 0;
    color: #777

}
.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 520px;
    padding-bottom: 10px;
    height: 45px;
    width: 165px;

}
.about-bottom{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 100px;
    color: #969696;
    font-size: 16px;
    font-weight: 600;

}
.about-list{
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style-type: none;
    
}
.about-icon{
    width: 45px;
    height: 45px;
    position: relative;
    top: 15px;
}

.m-bottom{
    display: flex;
    justify-content: space-between;

}

.line hr{
    display: flex;
    justify-content: flex-end;
    width: 527px ;
    

}
.tours{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
}
.travel-intro{
    display: flex;
    background: url("/assets/images/travel.png") center center no-repeat;
    background-size: cover;
    height: 500px;
    padding: 50px;
    margin-top: 100px;
    position: relative;
    overflow-x: hidden;
}


.travel-container{
    display: flex;
    justify-content: center;
    width: 100%;
    

}
.travel-content{
    display: flex;
    justify-content: center;
    padding: 750px;
    
width: 1180px;
height: 525px;


    


}
.form{
    display: flex;
    justify-content: center;
    
    
}
.f-icon{
    display: flex;
    justify-content: end;
    height: 25px;
    width: 25px;
}
.f-intro{
    display: flex;
    background-color: #DD4053;
    height: 500px;
    max-width: 1200px;
    padding: 50px;
    margin-top: 100px;
    border-radius: 7px;
}
.f-search{
    display: flex;
    justify-content: space-around;
    padding: 35px 0;
    font-size: 30px;
    color: whitesmoke;
}
.f-top{
    width: 1200px;
    display: flex;
    color: whitesmoke;
}
input{
    width: 300px;
    height: 40px;
}



















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































